/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2015, 8:01:19 AM
    Author     : bar
*/
/*html{
    background-image: url("../images/DCB_4.jpg");
    background-clip:border-box;
    background-size: 50%;
    background-position: center top ;
    background-repeat: no-repeat;
}*/

.linkbutton{
    background: none! important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}

body{
    width: 100%;
    font-family: sans-serif;
}

h1{
    align-content: center;
    text-align: center;
    font-family: sans-serif;
}
#navbutton{
    border: none;
    text-decoration: underline;
}

#heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
}

#image{
    text-align: center;
}

#logo{
    height: 80px;
}

.topheader{
    font-style: italic;
    color: graytext;
}
.leftfloat{
    float: left;
    margin-left: 25px;
}

.rightfloat{
    float: right;
    margin-right: 25px;
}

.doubleValueList{
    width: 100%;
}

.infotable{
    border: solid;
    border-width: thin;
    border-color: black;
}


.highlight-value{
    font-weight: bold;
}

.filter-select{
    margin-left: 2px;
}

.navigation{
    text-align: center;
}
table{
    width: 100%;
    font-family: sans-serif;
}

thead{
    border-bottom: black solid;
    background-color: #cccccc;
}

th{
  text-align: center;   
}
.fullwidthtable{
    width: 98%;
    overflow: auto;
    margin: 10px;
}

.border-fullwidthtable{
    width: 98%;
    border: black thin solid;
    overflow: auto;
    margin: 10px;
}
.code{
    width: 20%;
    font-weight: bold;
    text-align: center;
}

.desc{
    width: 80%;
}

.id{
    width: 20%;
}

.desc{
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.debug{
    visibility: hidden;
}

.center{
    align-content: center;
    width: 80%;
    text-align: center;
}

.label{
    vertical-align:central;
    float: left;
    width: 20%;
}

.textarealabel{
    vertical-align: top;
    float:left;
    width:20%;
}

.formItem{
    width: 80%;
    margin: 20px;
}
.input{
    float: right;
    width: 80%;
}

.file{
    float:left;
    width:33%;
}

.attachments{
    width: 100%;
    align-content: center;
    margin: 50px;
}

.updateSPZ{
    width: 100%;
    align-content: center;
    margin: 50px;
}

.item{
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
}