/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2015, 8:01:19 AM
    Author     : bar
*/
html{
    background-image: url(images/DCB_4.jpg);
}
#heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
}
#image{
    text-align: center;
}